<html>
    <head>
        <meta charset="utf-8">
        <title>Esri Web Hooks</title>
        <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.2.5/css/calcite-web.min.css">
        <link rel="stylesheet" href="https://esri.github.io/calcite-web/assets/css/dark.css" id="calcite-theme-dark" title="theme-dark">
    </head>
    <body>
    <div style="margin-top: 100px">
        <div class="grid-container">
            <form method="post">
                <h1 class="text-off-black" style="margin-bottom: 50px">Configure Flask with Portal Credentials</h1>
                <label>
                    Portal Web Adaptor URL <input name="esri_url" type="text" value="https://scarmazzij.esri.com/portal">
                </label>
                <label>
                    Username <input name="username"  type="text" value="siteadmin">
                </label>
                <label>
                    Password <input name="password" type="text" value="gis12345">
                </label>
                <button type="submit" class="btn btn-clear">Submit</button>
            </form>
                {% if validation %}
                    {% if submitted %}
                    <div style="margin-top: 40px" class="js-animation animate-fade-in">
                        <p class="text-green">Your Information Has Been Submitted for {{esri_url}}</p>
                    </div>
                    {% else %}
                    <div style="margin-top: 40px" class="js-animation animate-fade-in">
                        <p class="text-red">Could Not Connect to Portal. Please Try Again.</p>
                    </div>
                    {% endif %}
                {% endif %}
        </div>
    </div>
    <script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.2.5/js/calcite-web.min.js"></script>
    </body>
</html>